#main {
  margin: 0 auto;
  padding: 1.5;
  border-radius: 5px;
}

main {
  display: block;
  unicode-bidi: isolate;
}

header {
  font-size: 20;
  color: hsl(244, 54%, 33%);
}

img {
  display: block;
  text-align: center;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 1.5px;
}

:root {
  padding: var(--heading-padding);
}

body h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50;
  color: hsl(244, 54%, 33%);
  margin: 0 auto;
  padding: 1px;
}

h2 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30;
  color: hsl(244, 54%, 33%);
  margin: 1em;
}

h3 {
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25;
  color: black;
  margin: 0.5em;
}

.style {
  text-align: center;
  color: hsl(244, 54%, 33%);
  font-size: 30;
}

body {
  text-align: justify;
  margin: 0 auto;
  padding: 300px;
  font-size: 20;
  padding-top: 1px;
  padding-bottom: 1px;
  font-family: 'Times New Roman', Times, serif;
  background-image: linear-gradient(115deg, rgba(234, 240, 242, 0.948), rgba(246, 246, 242, 0.811)), url(https://www.shutterstock.com/image-photo/alaqsa-mosque-palestine-jerusalem-israel-600nw-2374849427.jpg);
  background-size: cover;
  background-position: center;
}

.photos {
  color: hsl(244, 54%, 33%);
  font-size: 30;
  text-align: center;
}

.portrays {
  gap: 16px;
  max-width: 1000;
  min-width: 100;
  margin: 0 auto;
  padding: 5px 2px;
}

.portrays img {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 500px;
  height: auto;
}

.portrays::after {
  width: 150px;
}

footer {
  margin: 1em auto;
  height: 1em;
  color: hsl(244, 54%, 33%);
  font-size: 20;
}
